:root {
    --main-bg-color: rgb(82, 2, 82);
    --text-color-default: #888888;
}

body {
    color: white;
    background: var(--main-bg-color);
    font-family: Arial;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    max-width: 650px;
    margin: 0 auto;
}

footer {
    background: rgb(54, 0, 75);
    color: white;
    border-top: 1.5px solid purple;
    margin: 16px;
    margin: 16px;
    padding: 16px 0;
    text-align: center;
}

header {
    background: rgb(54, 0, 75);
    margin-top: 16px;
    margin-bottom: 48px;
    border-bottom: 1.5px solid purple;
    text-align: center;
}

h1 {
    color: rgb(190, 180, 36);
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: var(--text-color-default);
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 650px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid var(--text-color-default);
    background: var(--text-color-default);
    color: white;
    padding: 8px;
}