<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/bloon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    
    <div class="main-content">
        
        <img class="portrait" src="/public/img/jordan.jpg">

        <p>I'm recording this because it could be the last thing I'll ever say.</p>

        <p>The city I once knew as home is teetering on the edge of radioactive oblivion. A 300,000 degree baptism by nuclear fire.</p>

        <p>I'm not sorry.</p>

        <p>We had it coming.</p>

        <p>A surge of white hot atonement will be our wakeup call. Hope for our future is now a still born dream. The bombs begin to fall and I'm rushing to meet my love.</p>

        <p>Please remember me.</p>

        <p>There is no more.</p>
    </div>
    
    {{>footer}}
</body>

</html>